/*
Name: Interface Design - Mandatory 2
Author: Ralf Patrik Blaga, Johannes Skjaerbaek
Author URI: particledesigns.dk/dev/interface-design2
Description: Layout developed for the course Interface Design - KEA, Group Assignment 2.
Version: 1.0
*/

