/*
Name: Interface Design - Mandatory 2
Author: Ralf Patrik Blaga, Johannes Skjærbæk
Author URI: particledesigns.dk/dev/webdev/ID2
Description: Layout developed for the course Interface Design - KEA, Group Assignment 2.
Version: 1.0
*/

@import "base/variables";
@import "base/global";

@import "layout/aside";
@import "layout/search";
@import "layout/results";
@import "layout/payment";
@import "layout/passengers";
@import "layout/modal";
@import "layout/mobile";
@import "layout/seat";