/* --------------- GLOBAL SET-UP --------------- */

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headlineFont;
}

p,input,footer,button,label {
  font-family: $bodyFont;
}

footer {
  text-align: center;
  margin-left:20vw;
}

main {
  position: relative;
  margin-left: 20vw;
}

aside {
  height:100vh;
  width:20vw;
  background-color: indianred;
  position: fixed;
  top:0;
  left:0;
}

