/* --------------- GLOBAL SET-UP --------------- */

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headlineFont;
}

p,input,footer,button,label {
  font-family: $bodyFont;
}

label {
  font-size: 1.25em;
}

input {
  height: 3vh;
  font-size: 1.25em;
}

.btn {
  margin: 1.5vh auto 0 auto;
  font-size: 1em;
  height: 4vh;
  background-color: $tertiaryColor;
  color: white;
  border: none;
}

footer {
  display: none;
  text-align: center;
  margin-left:20vw;
  margin-bottom: 2em;
}

main {
  position: relative;
}

.margin-center {
  margin-left: 50%;
  transform: translate(-50%);
}

.hidden {
  display: none;
}

