/* --------------- VARIABLES & FONTS--------------- */

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');


/* -- NOTE: These fonts are not set in stone, just something random I picked -- */
$bodyFont : 'Lato',sans-serif;
$headlineFont : 'Roboto', sans-serif;

/* ----- COLORS ----- */

/* -- NOTE: These colors are not set in stone, just something random I had saved -- */
$primaryColor : #EDEDED;
$secondaryColor : #4E6BA0;
$tertiaryColor : #6495ED;

/* ----- GUTTERS ----- */

$gutter-top: 1.5vh;
$gutter-bottom: 1.5vh;
$input-height: 3vh;



body {
  background-color: $primaryColor;
}

/* ----- Media Query Variables ----- */
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

