/*Generelle indstillinger    */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #29484b;
    background-color: #f2e4d7;
}
.text {
    padding: 0 0 0 20px;
}
a {
    color: #A50405;
    text-decoration: none;
}
a:hover {
    color: #ff3e2c;
}
p {
    margin-top: -15px;
}
h2,
h3 {
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 100%;
}
.center {
    text-align: center;
}
.clearfloat {
    clear: both;
}
section {
    padding: 1em;
}
.sectionwrapper p:first-child {
    margin-top: 0;
}

/*Generelle indstillinger  SLUT  */


/*Menu */

header {
    position: fixed;
    width: 100%;
    padding: 1em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}
header nav {
    font-family: 'Russo One', sans-serif;
    text-align: right;
    margin: 0 5vw 0 0;
}
header nav a {
    text-decoration: none;
    color: #f2e4d7;
    padding-left: 4px;
    margin-left: 4px;
    display: block;
}
header nav a:hover {
    color: #ff3e2c;
}
@media screen and (min-width:825px) {
    header nav a {
        display: inline-block;
        border-left: 2px solid #f2e4d7;
    }
}

/*Menu SLUT*/


/* **** splash **** */

#splash {
    width: 100vw;
    height: 167.2vw;
    background-image: url(images/splash/01-mobil-portrait-375x627.png);
    background-size: cover;
}
#logo {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 250;
}
#logo img {
    width: 50px;
}

/* **** splash slut **** */


/* **** om  **** */

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#om .column {
    flex-grow: 1;
    flex-basis: 400px;
}
#om .column img {
    width: 100%;
    max-width: 400px;
}

/* **** om SLUT **** */


/* **** eksempler **** */

#eksempler h2 {
    color: #f2e4d7;
    margin-left: 0.4em;
}
#eksempler .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}
#eksempler .column {
    margin: 0.8em;
    flex: 1 1 200px;
    padding: 0 1em 1em;
}
#eksempler .column img {
    width: 100%;
}
#eksempler .column_content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#eksempler .top {
    align-self: flex-start;
}
#eksempler .bottom {
    width: 100%;
    align-self: flex-end;
}

/* **** eksempler SLUT **** */


/* **** typografi **** */

#typografi .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}
#typografi .column_wide {
    flex: 2;
    flex-basis: 400px;
}
#typografi .column_wide .bottom {
    border-top: 1px dashed black;
    padding-top: 1em;
    margin-top: 1em;
    clear: both;
}
#typografi .top img {
    width: 200px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
#typografi .bottom img {
    width: 200px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
#typografi .bottom h3,
#typografi .column_narrow h3 {
    margin-top: 0;
}
#typografi .column_narrow {
    flex: 1;
    flex-basis: 200px;
    clear: both;
    padding: 1em;
    margin-left: 1em;
}
#typografi .column_narrow img {
    width: 100%;
}

/* **** typografi SLUT **** */


/* **** farver **** */

#farver .sectionwrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#farver .column_wide {
    flex: 2;
    flex-basis: 400px;
}
#farver .column_narrow {
    flex: 1;
    flex-basis: 200px;
    padding: 1em;
    margin-left: 1em;
}
#farver .column_narrow img {
    width: 100%;
}
#farver .middle img {
    width: 70%;
}
#farver .middle {
    text-align: center;
}
#farver .column_content {
    display: flex;
}
#farver .colors {
    flex: 2;
}
#farver .content {
    flex: 4;
}
#farver .colors div {
    display: inline-block;
}
#farver .colors .nylinie {
    display: block;
    margin-bottom: 14px;
}
#farver .colors div {
    width: 3em;
    height: 3em;
    margin: 4px 0px 4px 20px;
}
#farver .colors div.kontrast {
    width: 1em;
    height: 3em;
    margin: 4px 0;
}
.color1 {
    background-color: #ff3e2c;
    /*  rød ish*/
}
.colors div.kontrast.color1 {
    background-color: #7c1f17;
}
.color2 {
    background-color: #29484b;
    /*  Også fontfarve*/
}
.colors div.kontrast.color2 {
    background-color: #152729;
}
.color3 {
    background-color: #44767d;
}
.colors div.kontrast.color3 {
    background-color: #7b9a9f;
}
.color4 {
    background-color: #d8b418;
}
627 .colors div.kontrast.color4 {
    background-color: #8e7614;
}
.color5 {
    background-color: #baa18b;
}
.color6 {
    background-color: #e9c8a9;
}
.color7 {
    background-color: #f0d6bd;
}
.color8 {
    background-color: #f2e4d7;
}

/* **** links **** */

#links {}

/* **** ekstra **** */

#ekstra .galleri {
    display: flex;
    flex-wrap: wrap;
}
#ekstra .galleri div {
    /*    width: 30%;*/
    flex: 1;
    flex-basis: 200px;
    display: inline-block;
    margin: 10px 10px 10px 0;
}
#ekstra img {
    width: 100%;
}

/* **** footer **** */

footer {
    padding: 1em;
    background-color: #aaa;
}

/************  media queries   ***********************/

@media screen and (min-width: 376px) {
    #splash {
        height: 59.8vw;
        background-image: url('images/splash/02-mobil-landscape-627x375.jpg');
    }
    #logo img {
        width: 125px;
    }
}
@media screen and (min-width: 628px) {
    #splash {
        height: 133.3vw;
        background-image: url('images/splash/03-tablet-portrait-768x1024.jpg');
    }
}
@media screen and (min-width: 769px) {
    #splash {
        height: 75vw;
        background-image: url('images/splash/04-tablet-landscape-1024x768.jpg');
    }
}
@media screen and (min-width:825px) {
    header nav a {
        display: inline-block;
        border-left: 2px solid #f2e4d7;
    }
}
@media screen and (min-width: 1025px) {
    #splash {
        height: 56.3vw;
        background-image: url('images/splash/05-laptop16x9-5120x2880.jpg');
    }
    #om,
    #typografi,
    #eksempler,
    #farver,
    #links,
    #ekstra {
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
    }
}
