/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 426px) {
  /* --- GENERAL --- */

  footer {
    font-size: 75%;
  }

  /* --- SEARCH --- */

  #search {
    font-size: 50%;
    .sectionwrapper {
      width: 90%;

      form {
        width: 75%;
      }
    }
  }
  /* --- RESULTS --- */

  #results {
    font-size: 50% !important;
  }

  #results, .payment-button, footer {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  /* --- PAYMENT --- */

  #payment .sectionwrapper {
    width: 90% !important;
  }

  #payment i.fa {
    top: 5%;
    right: 5%;
  }

  /* --- ASIDE --- */

  aside {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  /* --- GENERAL --- */

  #modal {
    #modal-content {
      width: 75%;
    }

    .fa {
      right: 5% !important;
    }

    .reg-name-input {
      width: 100%;
      margin-left: 8%;
      transform: none;
    }
  }



  /* --- SEARCH --- */

  #search {
    font-size: 75%;
    form {
      width: 60% !important;
    }
  }

  /* --- RESULTS --- */

  #results {
    font-size: 75%;
  }

  /* --- PASSENGERS --- */
  #passengers {

    .passenger-details {
      div{
        width: 25% !important;
        margin: 0 auto;
        input{
          width: 100%;
        }
      }
    }
  }

  /* --- PAYMENT --- */

  #payment {
    .sectionwrapper {
      width: 75%;
    }

    .fa {
      right: 5%;
    }
  }

  #confirmation {
    #conf-content {
      width: 75%;
    }
  }

  /* --- ASIDE --- */

  aside {
    font-size: 60%;
  }
}
