/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 426px) {
  /* --- GENERAL --- */

  /* --- SEARCH --- */

  #search {
    .sectionwrapper {
      width: 90%;
      border: none;

      form {
        width: 100%;
      }
    }
  }
  /* --- RESULTS --- */

  #results {
    font-size: 40% !important;
  }

  #results, .payment-button, footer {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  /* --- PAYMENT --- */

  /* --- ASIDE --- */

  aside {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  /* --- GENERAL --- */

  /* --- SEARCH --- */

  /* --- RESULTS --- */

  #results {
    font-size: 75%;
  }

  /* --- PAYMENT --- */

  /* --- ASIDE --- */

  aside {
    font-size: 60%;
  }
}
