/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 426px) {
  /* --- GENERAL --- */

  footer {
    font-size: 75%;
  }

  #modal {
    #modal-content {
      width: 90%;
      height: 75%;
    }

    .fa {
      right: 5% !important;
      top: 2.5% !important;
    }

    .reg-name-input {
      width: 100%;
      margin-left: 10% !important;
      transform: none;
      width: 81% !important;
      input {
        margin: 0 !important;
      }
    }

    #modal-registration-form {
      div {
        width: 80%;
      }
    }

    .reg-name-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  /* --- SEARCH --- */

  #search {
    font-size: 50%;
    .sectionwrapper {
      width: 90%;

      form {
        width: 75%;
      }
    }
  }
  /* --- RESULTS --- */

  #results {
    font-size: 50% !important;
  }

  #results, .payment-button, footer, .seat-button {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  #passengers {
    margin-left: 0 !important;
    .passenger-item {
      width: 100%;
      .passenger-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0;
        margin-top: 1em;
        div {
          width: 100% !important;
          display: block !important;
        }
      }
    }
  }

  /* --- PAYMENT --- */

  #payment .sectionwrapper {
    width: 90% !important;
  }

  #payment i.fa {
    top: 5%;
    right: 5%;
  }

  /* --- ASIDE --- */

  aside {
    display: none !important;
  }

  .plane-wrap {
    .plane-body {
      width: 100% !important;
    }
    .close-seat {
      top: 2% !important;
      right: 2% !important;
      color: black !important;
    }
  }

  #confirmation {
    #conf-content {
      width: 90% !important;
      height: 90% !important;
    }
  }
}
@media screen and (max-width: 1023px) {
  /* --- GENERAL --- */

  #modal {
    #modal-content {
      width: 75%;
    }

    .fa {
      right: 5% !important;
    }

    .reg-name-input {
      width: 100%;
      margin-left: 8%;
      transform: none;
    }
  }



  /* --- SEARCH --- */

  #search {
    font-size: 75%;
    form {
      width: 60% !important;
    }
  }

  /* --- RESULTS --- */

  #results {
    font-size: 75%;
  }

  /* --- PASSENGERS --- */
  #passengers {

    .passenger-details {
      div{
        width: 25% !important;
        margin: 0 auto;
        input{
          width: 100%;
        }
      }
    }
  }

  /* --- PAYMENT --- */

  #payment {
    .sectionwrapper {
      width: 75%;
    }

    .fa {
      right: 5%;
    }
  }

  #confirmation {
    #conf-content {
      width: 75%;
    }
  }

  /* --- ASIDE --- */

  aside {
    font-size: 60%;
  }
}
