#modal {/*
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(black,0.5);*/

  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);

  #modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0;
    width: 50%;
    height: 50%;
    border: 2px solid white;
    text-align: center;
    background-color: #EDEDED;
  }

  #modal-close {
    position: absolute;
    top: 15%;
    right: 20%;
    cursor: pointer;
    color: white;
  }

  #modal-login-form {
    input {
      width: 50%;
      text-align: center;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
  }

  .reg-name-input {

    display: flex;
    flex-direction: row;

      #modal-reg-fname{
        margin-right: 5%;
        text-align: center;
      }

      #modal-reg-lname{
        text-align: center;
        margin-left: -4px;
      }
  }

  .reg-input {
    width: 50%;
    margin-top: 1.5%;

    input {
      width: 100%;
      text-align: center;
    }
  }

  #modal-action {
    //width: 50%;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

  }

  .reg-checkbox {
    display: flex;
    flex-direction: row;

    input[type=checkbox] {
      display: flex;
      align-self: center;
      width: 15%;
      height: 0.8em;
      margin-bottom: 0;
    }

    p {
      margin-top: 1%;
      margin-bottom: 1%;
    }
  }

}

.modal-hidden {
  display: none;
}

.modal-shown {
  display: flex;
}

#confirmation {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);

  #conf-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0;
    width: 50%;
    height: 50%;
    border: 2px solid white;
    text-align: center;
    background-color: #EDEDED;
    #conf-middle {
      overflow: scroll;
    }
  }
}
