/*#passengers {
  margin-left: 20vw;
  display: none;
  .sectionwrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: 200vh;
  }
}*/


/* --------------- RESULTS SECTION --------------- */

#passengers {
  margin-left: 20vw;
  display: none;
  .active {
    background-color: rgba(black, 0.1);
  }
  .fa-arrow-down {
    cursor: pointer;
  }
  .sectionwrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .fa-user-circle-o {
      font-size: 3em;
      margin-bottom: 2%;
    }

    .passenger-details {
      border: 2px solid white;
      margin-bottom: 4em;
      min-height: 20vh;
      display: flex;

      div {
        width: 33.3%;
        align-self: center;

        label {
          display: block;
        }

        input {
          text-align: center;
        }
      }
    }
  }
}

