/* --------------- PAYMENT SECTION --------------- */

#payment {
  height: 100vh;

  .sectionwrapper {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    //padding: 20%;
    border: 2px solid white;
    text-align: center;
  }
}

