/* --------------- RESULTS SECTION --------------- */

#results {

  .sectionwrapper {
    width: 90%;
    margin: 0 auto;
    //padding: 20%;
    border: 2px solid white;
    text-align: center;
  }
}

