/* --------------- RESULTS SECTION --------------- */

#results {
  .sectionwrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .result-item {
      border: 2px solid white;
      margin-bottom: 2em;
      .r-i-top {
        border-bottom: 2px solid white;
      }
      .r-i-top, .r-i-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .ri-left {
          display: inline-block;
          .ri-l-left {
            display: inline-block;
          }
          .ri-l-right {
            display: inline-block;
          }
        }
        .ri-middle {
          display: inline-block;
          .ri-m-left {
            display: inline-block;
          }
          .ri-m-right {
            display: inline-block;
          }
        }
        .ri-right {
          display: inline-block;
        }
      }
    }
  }
}

