/* --------------- RESULTS SECTION --------------- */

#results {
  .sectionwrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .result-item {
      border: 2px solid white;
      margin-bottom: 2em;
      .r-i-top {
        border-bottom: 2px solid white;
      }
    }
  }
}

