/* --------------- SEARCH SECTION --------------- */

#search-wrap {

}

#search {

  height: 100vh;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;


  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 30vh;
  max-height: 100vh;
  background-image: url("../img/bg-img2.jpeg");
  //background-color: #dce7f2;
  border: 1px solid #2a4f73;

  .sectionwrapper {

    width: 90%;
    height: 60%;
    margin: 0 auto;
    border: 2px solid white;
    text-align: center;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;


    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 300px;
    max-height: 450px;
    background-color: transparent;






    form {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin: 0 auto;

      label {
        margin-top: $gutter-top;
        margin-bottom: $gutter-bottom/2;
        font-size: 1.5em;

      }

      input[type=text] {
        margin-bottom: $gutter-bottom;
        text-align: center;
      }

      #date-picker {
        display: flex;
        flex-direction: row;
        margin-top: $gutter-top;
        margin-bottom: $gutter-bottom;

        div {
          width: 50%;
          display: flex;
          flex-direction: column;

          label {
            align-self: center;
            margin-top: 0;
          }

          input[type=date] {
            width: 90%;
          }
        }

        #departure{
          align-items: flex-start;

          label {
            margin-right: 10%;
          }
        }

        #return {
          align-items: flex-end;

          label {
            margin-left: 10%;
          }
        }
      }

      input[type=submit] {
        //margin-top: $gutter-top;
        margin: $gutter-top auto 0 auto;
      }
    }
  }
}